<% content_for :page_header do %>
  Login
<% end %>

<form action="<%= login_url %>" method="post">
  
  <%= authenticity_token %>

  <label>
    Email:
    <input type="text" name="session[email]">
  </label>

  <label>
    Password:
    <input type="password" name="session[password]">
  </label>

  <button>Login</button>

</form>
