<% content_for :page_header do %>
  Login
<% end %>

<form class="input-form" action="<%= login_url %>" method="post">
  
  <%= authenticity_token %>

  <div>
    <label>Email:</label>
    <input type="text" name="session[email]">
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="session[password]">
  </div>

  <div>
    <button>Login</button>
  </div>

</form>
