<% content_for :page_header do %>
  Register
<% end %>

<form class="input-form" action="<%= register_url %>" method="post">
  
  <%= authenticity_token %>

  <div>
    <label>Email:</label>
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </div>

  <div>
    <label>Password:</label>
    <input type="password" name="user[password]">
  </div>

  <div>
    <button>Register</button>
  </div>

</form>
