/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'HelveticaNeue-Light', sans-serif;
}

body * {
/*  background-color: hsla(0, 50%, 50%, 0.1);  */
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: black;
}

pre {
  font: inherit;
  line-height: 150%;
  margin: 0;
}

.input-form {
  width: 500px;
  padding: 10px;
}

.input-form textarea, .input-form label, .input-form input, .input-form button, 
.input-form select {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.05em;
}

.input-form label {
  min-width: 100px;
}

.input-form textarea {
  display: block;
  height: 100px;
}

.input-form select {
  width: 385px;
}

.input-form input {
  width: 370px;
}

.input-form input[type="radio"] {
  width: 15px;
}

.input-form button {
  padding: 5px 20px;
}

.input-form textarea {
  width: 370px;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

#navigation {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

#navigation ul {
  padding: 0;
  margin: 0;
}

#navigation li {
  padding: 20px;
  display: inline-block;
}

.delete input, #navigation input, #actions input {
  display: inline;
  background: none;
  border: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: blue;
}

.delete, .delete div {
  display: inline;
}

#navigation input:hover, #actions input:hover {
  color: black;
}

ul#actions {
  padding: 0;
  margin: -20px 0 10px 0;
  font-size: 0.8em;
}

#actions li:after {
  content: " / ";
  margin: 0 6px 0 6px ;
}

#actions li:last-child:after {
  content: "";
}

#actions * {
  display: inline;
}

#artist-list {
  height: 100%;
  padding: 0px;
  margin: 0 auto;
}

.artist {
  display: inline-block;
  background: hsla(200, 10%, 80%, 1);
  height: 140px;
  width: 140px;
  margin: 5px;
  border: solid 1px black;
}

.artist span {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  display: inline-block;
  width: 100%;
}

#album-list, #track-list {
  width: 100%;
  display: table;
  margin-bottom: 20px;
}

.row {
  display: table-row;
}

.header {
  background-color: hsla(200, 10%, 80%, 1);
  font-weight: bold;
  border-bottom: solid 1px black;
}

.cell, .header {
  min-width: 120px;
  padding: 5px;
  display: table-cell;
}

.greedy {
  width: 100%;
}

.small {
  min-width: 75px;
}

#notes {
  padding: 20px;
  margin-top: -30px;
}
