/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: 'HelveticaNeue-Light', sans-serif;
}

body * {
  /* background-color: hsla(0, 50%, 50%, 0.1) */
}

#navigation {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

#navigation ul {
  padding: 0px;
  margin: 0;
}

#navigation li {
  padding: 20px;
  display: inline-block;
}
